.burgers {
    padding-bottom: 180px;

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 384px);
        gap: 24px;
    }

    &__item {
        background: rgb(33, 26, 22);
        border: 1px solid rgb(53, 53, 53);
        border-radius: 16px;
        padding: 22px 30px;
        user-select: none;
    }

    &__img {
        width: 100%;
        height: 250px;
        pointer-events: none;
        margin-bottom: 24px;
    }

    &__title {
        font-family: Gilroy, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        margin-bottom: 24px;
    }

    &__text {
        font-family: Gilroy, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 24px;
    }

    &__functional {
        height: 62px;
        display: flex;
        justify-content: space-between;
    }

    &__price {

        & h2 {
            font-family: Gilroy, sans-serif;
            font-size: 32px;
            font-weight: 500;
            line-height: 39px;
            margin-bottom: 8px;
        }

        & h3 {
            font-family: Gilroy, sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 18px;
            color: rgb(117, 117, 117);
        }

    }

    &__button {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11px;
        color: black;
        font-family: Gilroy, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;

        & img {
            width: 20px;
            height: 20px;
            pointer-events: none;
        }

    }

    &__button-count {
        display: flex;
        align-items: center;
        gap: 16px;

        & button {
            border-radius: 100%;
            background: linear-gradient(135.00deg, rgb(218, 128, 35) 0%, rgb(226, 180, 56) 100%);
            border: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
            font-size: 22px;
        }

        & span {
            font-family: Gilroy, sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
        }

    }

}